#menu {

    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    background: #000 center bottom no-repeat;
    z-index: 1;

    @include mobile {
    }

}