.box {

    position: relative;
    padding-right: 0px;
    padding-left: 0px;

    @include mobile {
        padding-right: vw(0);
        padding-left: vw(0);
    }

    &__title {

        color: #000;
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        line-height: $defaultLineHeight;
        padding-top: 0px;
        padding-bottom: 0px;

        @include mobile {
            font-size: vw(50);
            padding-top: vw(0);
            padding-bottom: vw(0);
        }

    }

    &__content {
        line-height: lineHeight(14, 20);
    }

}