.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .btn {
        margin-top: 5px;
        margin-bottom: 5px;
        @include mobile {
            margin-top: vw(5);
            margin-bottom: vw(5);
        }
    }
}

.btn {

    position: relative;
    display: inline-block;
    min-width: 280px;
    height: 82px;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: $defaultLineHeight;
    cursor: pointer;
    border-radius: 1000px;
    overflow: hidden;

    @include mobile {
        min-width: vw(280);
        height: vw(82);
        font-size: vw(35);
    }

    &::before {
        content: '';
        display: inline-block;
        height: 106%;
        vertical-align: middle;
    }
    
}

a.btn {
    @include hover {
        &:hover {
            color: #fff;
            opacity: 0.8;
        }
    }
}

.btn-primary {
    background: #000000;
}

.btn-darkgray {
    background: #333333;
}

.btn-black {
    background: #000000;
}

.btn-large {
    min-width: 350px;
    height: 104px;
    font-size: 36px;
    @include mobile {
        min-width: vw(350);
        height: vw(104);
        font-size: vw(36);
    }
}

