/*--------------- 顯示與隱藏 ---------------*/

.visible {
    &-desktop {
        display: inline;
        @include tablet {
            display: none;
        }
    }
    &-tablet {
        display: none;
        @include tablet {
            display: inline;
        }
    }
    &-mobile {
        display: none;
        @include mobile {
            display: inline;
        }
    }
}

.hidden {
    &-desktop {
        display: none;
        @include tablet {
            display: inline;
        }
    }
    &-tablet {
        display: inline;
        @include tablet {
            display: none;
        }
    }
    &-mobile {
        display: inline;
        @include mobile {
            display: none;
        }
    }
}

.hide-block {

    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;

}

/*--------------- 排版與定位 ---------------*/

.align-items-start {
    align-items: start!important;
}

.clearfix::after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.flt-r {float: right;}
.flt-l {float: left;}

.pos-a {position: absolute;}
.pos-f {position: fixed;}

.w-100 {width: 100%!important;}
.h-100 {height: 100%!important;}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

/*--------------- 邊框 ---------------*/

.rounded {

    overflow: hidden;

    &-default {
        border-radius: 15px;
        @include tablet {
            border-radius: 20px;
        }
        @include mobile {
            border-radius: vw(20);
        }
    }

}

/*--------------- 文字 ---------------*/

.color {
    &-primary { color: $primaryColor; }
    &-secondary { color: $secondaryColor; }
}

.weight {
    &-400 {font-weight: 400;}
    &-500 {font-weight: 500;}
    &-600 {font-weight: 600;}
    &-900 {font-weight: 900;}
}

@for $i from 0 through 5 {
    .kerning-#{$i} {
        letter-spacing: $i + px!important;
        @include mobile {
            letter-spacing: vw($i)!important;
        }
    }
}

.text {
    // 大小
    &-xs {
        font-size: 22px;
        @include mobile {
            font-size: vw(22);
        }
    }
    &-sm {
        font-size: 26px;
        @include mobile {
            font-size: vw(26);
        }
    }
    &-lg {
        font-size: 32px;
        @include mobile {
            font-size: vw(32);
        }
    }
    &-xl {
        font-size: 36px;
        @include mobile {
            font-size: vw(36);
        }
    }
    // 顏色
    &-gray {
        color: $primaryColor;
    }
    &-white {
        color: #ffffff;
    }
    &-red {
        color: #ff0000;
    }
    &-black {
        color: #1c1c1c;
    }
    &-light {
        color: #fefefe;
    }
    // 其他樣式
    &-underline {
        display: inline-block;
        padding-bottom: 4px;
        border-bottom: $primaryColor 1px solid;
        @include mobile {
            padding-bottom: vw(4);
        }
        &.text-red {
            border-color: #de0b1c;
        }
    }
    // 排版
    &-center {
        text-align: center;
    }
    &-hide {
        @include hide-text
    }
}

