// RWD Breakpoints
$rwdS: 750; // PSD 的手機版尺寸
$rwdM: 1000;
$rwdL: 1200;
$rwdX: 1600;
$rwd2X: 1920;

// Devices
$mobile: $rwdS + px;
$tablet: $rwdM + px;

// Color
$primaryColor: #ffffff;
$secondaryColor: #aaaaaa;

// Font
$fontFamilyNotoSans: 'Noto Sans TC', 'sourcehansans-tc', 'Noto Sans S Chinese', 'PingFang TC', 'Microsoft JhengHei', Tahoma, Verdana, Arial, Helvetica, sans-serif;

// Line Height
$defaultLineHeight: 1.25;

// Duration
$primaryDuration: .5s;
$secondaryDuration: .35s;

// Ease
$easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
$easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
$easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);

// Header
$headerHeight: 115;
