extends ./layout/main

block variables
  - var pageName = 'index';
  - var pageId = 'page-index'
  - var pageTitle = '首頁';

block pageContent
  section#index.section
    .inner

block script 
  script(type="text/javascript").

    //- const loading = document.getElementById('loading');
    //- loading.style.display = 'block';

    document.addEventListener('DOMContentLoaded', function() {

    })
